all_TM_enh.ncol
all_k50_tmscore.ncol
clusters90.txt.eval2
enhanced2_f.ncol
tm_enh_0.6_last.clust.eval
salami_cl50_all.ncol
clusters50.txt.eval2
enhanced2.ncol
pdb_all_tm_enh_0.5_3.clust.eval
pdbgraph.ncol
